body {

    margin: 0;

    padding: 0;

    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;  

    font-family: sans-serif;

    background-color: #f1f1f1; 

}

.container_app {
    margin: 25px;
    /* position: static; */
    display :inline-flex;
}