/* Label texture */
label {
    color: rgb(87, 167, 237);
    font-weight : bold;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
/* Input texture */
input {
    border-radius: 4px;
    border-color: #f1f1f1;
    margin-top: 3px;
    margin-right: 5px;
    height: 30px;
}

/* input texture hover */
input:hover {
    border-color : rgb(87, 167, 237);
}

/* input texture focus */
input:focus {
    border-color : rgb(87, 167, 237);
}


/* textarea texture */
textarea {
    border-radius: 4px;
    border-color: #f1f1f1;
    outline: none;
}

/* textarea texture hover*/
textarea:hover {
    border-color : rgb(87, 167, 237);
}

/* textarea texture focus*/
textarea:focus {
    border-color : rgb(87, 167, 237);
}

/* input  typer="text" texture */
input[type="text"] { 
    outline: none;
}

/* Placement button contact */
.structure-button-contact {
    text-align: center;
    margin: 15px;
}

/* Texture buton */
.button-contact {
    border: 2px;
    background-color: rgb(87, 167, 237);
}

/* Texture buton hover */
.button-contact:hover {
    border: 2px;
    background-color: rgb(66, 123, 172);
}

/* Possitionnement du formulaire*/
.structure-contact {
    margin : 4px;
}